.back-contents {
  position: relative;
  width: 100%;
  height: 100%;

  .button {
    width: 81px;
  }

  .button_ok {
    left: 40px;
    top: 157px;
  }

  .button_cancel {
    left: 147px;
    top: 157px;
  }
}