.input {
  position: relative;
  height: 13px;
  font: 11px tahoma;
  cursor: inherit;

  .input-standard {
    margin: -1px;
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:focus + .input-label {
      .input-text {
        outline: 1px dotted #000;
      }
    }

    &:disabled + .input-label {
      color: #a5a294;

      .input-icon{
        border-color: #cecbbd;
        background: #fff;
      }
    }

    &:not(:disabled) + .input-label {
      .input-icon{
        background-image: linear-gradient(to bottom right, #fff0cf 0%, #f8b330 100%);
      }
    }

    &[type = radio] + .input-label {
      .input-icon {
        border-radius: 50%;
      }
    }

    &:checked + .input-label {
      .input-icon:after {
        content: '';
        position: absolute;
      }
    }

    &[type = radio]:checked + .input-label {
      .input-icon:after {
        border-radius: inherit;
        width: 5px;
        height: 5px;
        top: calc(50% - 2.5px);
        left: calc(50% - 2.5px);
        background-image: linear-gradient(to bottom right, #52d752 0%, #109210 100%);
      }
    }

    &[type = checkbox]:checked + .input-label {
      .input-icon:after {
        width: 100%;
        height: 100%;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMyI+PHBhdGggZmlsbD0iIzIxYTIyMSIgZD0iTTMsNWwyLjUsMmw0LjUsLTR2M2wtNC41LDRsLTIuNSwtMnYtM1oiLz48L3N2Zz4K');
      }
    }

    &[type = checkbox]:checked:disabled + .input-label {
      .input-icon:after {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMyI+PHBhdGggZmlsbD0iI2NlY2JiZCIgZD0iTTMsNWwyLjUsMmw0LjUsLTR2M2wtNC41LDRsLTIuNSwtMnYtM1oiLz48L3N2Zz4K');
      }
    }
  }

  .input-label {
    display: flex;
    cursor: inherit;

    .input-icon {
      position: relative;
      width: 13px;
      height: 13px;
      box-sizing: border-box;
      border: 1px solid #185184;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-image: linear-gradient(to bottom right, #e7e3de 0%, #fff 100%);
      }
    }

    .input-text {
      margin-left: 3px;
      padding: 0 1px;
    }
  }

  &:hover {
    .input-standard:not(:disabled) + .input-label {
      .input-icon:before {
        left: 2px;
        top: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
      }
    }


    &:active {
      .input-standard:not(:disabled) + .input-label {
        .input-icon {
          background: linear-gradient(to bottom, #d6cfc6 0%, #f7f3ef 100%);
          &:before {
            visibility: hidden;
          }
        }
      }
    }
  }
}
/* 
.input-radio,
.input-checkbox {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  box-sizing: border-box;
  border: 1px solid #185184;
  background: linear-gradient(to bottom right, #e7e3de 0%, #fff 100%);
}

.input-radio,
.input-container:hover > .input-radio:before,
.input-radio.checked:after {
  border-radius: 50%;
}

.input-container:hover > .input-radio,
.input-container:hover > .input-checkbox {
  background: linear-gradient(to bottom right, rgb(255,240,207) 0%, rgb(248,179,48) 100%);
}

.input-container:hover > .input-radio:before,
.input-container:hover > .input-checkbox:before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
  background: linear-gradient(to bottom right, #e7e3de 0%, #fff 100%);
}

.input-container:active:hover > .input-radio,
.input-container:active:hover > .input-checkbox {
  background: linear-gradient(to bottom, #d6cfc6 0%, #f7f3ef 100%);
}

.input-radio.checked:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: calc(50% - 2.5px);
  left: calc(50% - 2.5px);
  background: linear-gradient(to bottom right, #52d752 0%, #109210 100%);
}

.input-checkbox.checked:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMyI+PHBhdGggZmlsbD0iIzIxYTIyMSIgZD0iTTMsNWwyLjUsMmw0LjUsLTR2M2wtNC41LDRsLTIuNSwtMnYtM1oiLz48L3N2Zz4K');
}

.input-label {
  display: inline-block;
  position: relative;
  top: -3px;
  left: 4px;
}

.input-label.disabled {
  color: #a5a294;
}

.disabled.input-checkbox,
.disabled.input-radio,
.input-container:active > .disabled.input-checkbox,
.input-container:active > .disabled.input-radio,
.input-container:hover > .disabled.input-checkbox,
.input-container:hover > .disabled.input-radio {
  border-color: #cecbbd;
  background: #fff;
}


.disabled.input-radio.checked:after {
  background: #cecbbd;
}

.disabled.input-checkbox.checked:after {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMyI+PHBhdGggZmlsbD0iI2NlY2JiZCIgZD0iTTMsNWwyLjUsMmw0LjUsLTR2M2wtNC41LDRsLTIuNSwtMnYtM1oiLz48L3N2Zz4K');
}

.disabled.input-radio:before,
.disabled.input-checkbox:before,
.input-container:active > .input-radio:before,
.input-container:active > .input-checkbox:before {
  display: none;
}
 */