.menu {
  position: relative;
  width: 100%;
  height: 19px;
  background-color: #ece9d8;
  border-bottom: 1px solid #fff;
}

.menu-item {
  position: relative;
  display: inline-block;
  top: -1px;
  height: 19px;
  padding: 0 6px;
  font: 11px tahoma;
  line-height: 19px;
}

.menu-item:hover {
  background-color: #326ac3;
  color: #fff;
}
