.status-bar {
  position: relative;
  width: 100%;
  height: 16px;
  background-color: #fff;
  border-top: 1px solid #000;
  overflow: hidden;
}
.status-bar__text {
  position: relative;
  font: 15px fixedsys;
  text-align: right;
}
