.about-contents {
  position: relative;
  width: 100%;
  height: 100%;

  .logo {
    position: absolute;
    width: 100%;
    height: 77px;
    background: radial-gradient(circle at 65% 50%,#a5c3f7, #6382e7);
  }

  .logo:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    background: linear-gradient(to right, transparent 0, #f79631 50%, transparent 100%);
    background-size: 200% 100%;
    animation: orange 2s linear infinite ;
  }
  
  .button_ok {
    left: 331px;
    top: 290px;
  }
}

@-webkit-keyframes orange {
  from { background-position: 100% 50%; }
  to { background-position: -100% 50%; }
}

@-moz-keyframes orange {
  from { background-position: 100% 50%; }
  to { background-position: -100% 50%; }
}

@keyframes orange {
  from { background-position: 100% 50%; }
  to { background-position: -100% 50%; }
}