.card {
  position: absolute;
  width: 71px;
  height: 96px;

  &.ok {
    background: url('../../images/cards/ok.png');
  }

  &.not-ok {
    background: url('../../images/cards/notok.png');
  }

  &.closed {
    background: url('../../images/cards/back.png');
  }

  &.opened {
    background: url('../../images/cards/deck.png');
  }

  &.back-0,
  &.hearts {
    background-position-x: 0;
  }

  &.back-1,
  &.clubs {
    background-position-x: -71px;
  }

  &.back-2,
  &.diamonds {
    background-position-x: -71px * 2;
  }

  &.back-3,
  &.spades {
    background-position-x: -71px * 3;
  }

  &.back-4 {
    background-position-x: -71px * 4;
  }

  &.back-5 {
    background-position-x: -71px * 5;
  }

  &.back-6 {
    background-position-x: -71px * 6;
  }

  &.back-7 {
    background-position-x: -71px * 7;
  }

  &.back-8 {
    background-position-x: -71px * 8;
  }

  &.back-9 {
    background-position-x: -71px * 9;
  }

  &.back-10 {
    background-position-x: -71px * 10;
  }

  &.back-11 {
    background-position-x: -71px * 11;
  }

  &.ace {
    background-position-y: 0;
  }

  &[class*="2"]:not([class*="back"]) {
    background-position-y: -96px;
  }

  &[class*="3"]:not([class*="back"]) {
    background-position-y: -96px * 2;
  }

  &[class*="4"]:not([class*="back"]) {
    background-position-y: -96px * 3;
  }

  &[class*="5"]:not([class*="back"]) {
    background-position-y: -96px * 4;
  }

  &[class*="6"]:not([class*="back"]) {
    background-position-y: -96px * 5;
  }

  &[class*="7"]:not([class*="back"]) {
    background-position-y: -96px * 6;
  }

  &[class*="8"]:not([class*="back"]) {
    background-position-y: -96px * 7;
  }

  &[class*="9"]:not([class*="back"]) {
    background-position-y: -96px * 8;
  }

  &[class*="10"]:not([class*="back"]) {
    background-position-y: -96px * 9;
  }

  &.jack {
    background-position-y: -96px * 10;
  }

  &.queen {
    background-position-y: -96px * 11;
  }

  &.king {
    background-position-y: -96px * 12;
  }

  &.outline {
    mix-blend-mode: difference;

    &,
    & * {
      width: 70px;
      height: 95px;
      outline: 1px solid #fff;
      background: #000;
    }
  }

  &.inverted {
    filter: invert(1);
  }
}
