@font-face {
  font-family: console;
  src:
    url('../fonts/console.eot') format('embedded-opentype'),
    url('../fonts/console.otf') format('opentype'),
    url('../fonts/console.svg') format('svg'),
    url('../fonts/console.ttf') format('truetype'),
    url('../fonts/console.woff') format('woff'),
    url('../fonts/console.woff2') format('woff2');
}

@font-face {
  font-family: fixedsys;
  src:
    url('../fonts/fixedsys.eot') format('embedded-opentype'),
    url('../fonts/fixedsys.otf') format('opentype'),
    url('../fonts/fixedsys.svg') format('svg'),
    url('../fonts/fixedsys.ttf') format('truetype'),
    url('../fonts/fixedsys.woff') format('woff'),
    url('../fonts/fixedsys.woff2') format('woff2');
}

@font-face {
  font-family: tahoma;
  src:
    url('../fonts/tahoma.eot') format('embedded-opentype'),
    url('../fonts/tahoma.otf') format('opentype'),
    url('../fonts/tahoma.svg') format('svg'),
    url('../fonts/tahoma.ttf') format('truetype'),
    url('../fonts/tahoma.woff') format('woff'),
    url('../fonts/tahoma.woff2') format('woff2');
}

.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: fixed url('../images/wallpaper.png') center no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  cursor: url(data:image/x-icon;base64,AAACAAEAICAAAAoACgAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAwAAAAMAAAAGAAAABgAAAAwAAAEMAAABmAAAAdgAAAH4AAAB/wAAAf4AAAH8AAAB+AAAAfAAAAHgAAABwAAAAYAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////////z////4f///+H////D///3w///84f///GH///wD///8A////AA///wAf//8AP///AH///wD///8B////A////wf///8P////H////z////9////////////////////////////////////////////////////////8=), default;

  &.wait {
    cursor: url(data:image/x-icon;base64,AAACAAEAICAAAAoACgAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/4AAAAAAAACqgAAA1YAAAOuAAAD3gAAAfwAAADYAAAAcAAAACAAAAAgAAAAUAAAAPgAAAHcAAADrgAAA1YAAAP+AAAD/gAAAAAAAAP+AAAAAAAA//////////////////////////////////////////////////////AAf//wAH//8AB///gA///4AP//+AD///gA///4AP///AH///4D////B////wf///4D///8Af//+AD///gA///4AP//+AD///gA///wAH//8AB///AAf/8=), wait;
  }

  &.ew-resize {
    cursor: url(data:image/x-icon;base64,AAACAAEAICAAAAoACgAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAGAABQBQAAkASAAR/8QAIAACABH/xAAJAEgABQBQAAMAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA///////////////////////////////////////////////////////////////////////////////////////////z/n//4/4//8P+H/+AAA//AAAH/4AAD//D/h//4/4///P+f/////////////////////////////////8=), ew-resize;
  }

  &.nesw-resize {
    cursor: url(data:image/x-icon;base64,AAACAAEAICAAAAoACgAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH8AAABBAAAAQgAAAEQAAABKAAAAVQAAAGKAAAABQAAAAKMAAABVAAAAKQAAABEAAAAhAAAAQQAAAH8AAAAAAAAAAAAAAAAAA///////////////////////////////////////////////////////////////////////////gP///4D///+B////g////4H///+I////nH////4/////HP///4j////A////4P///8D///+A////gP/////////////////8=), nesw-resize;
  }

  &.ns-resize {
    cursor: url(data:image/x-icon;base64,AAACAAEAICAAAAoACgAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAABQAAAAiAAAAQQAAAICAAAD3gAAAFAAAABQAAAAUAAAAFAAAABQAAAAUAAAAFAAAABQAAAAUAAAA94AAAICAAABBAAAAIgAAABQAAAAIAAA////////////////////////////////////////////////////////////3////4////8H///+A////AH///wB////j////4////+P////j////4////+P////j////4////+P///8Af///AH///4D////B////4/////f//8=), ns-resize;
  }

  &.nwse-resize {
    cursor: url(data:image/x-icon;base64,AAACAAEAICAAAAoACgAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB/AAAAQQAAACEAAAARAAAAKQAAAFUAAACjAAABQAAAYoAAAFUAAABKAAAARAAAAEIAAABBAAAAfwAAAAAAAAAAAAAAAAAAA////////////////////////////////////////////////////////////////////////////4D///+A////wP///+D////A////iP///xz///4///+cf///iP///4H///+D////gf///4D///+A///////////////////8=), nwse-resize;
  }
}
