.window {
  position: absolute;
  border: 3px solid #0041ce;
  min-width: 145px;
  min-height: 37px;
  background-color: #efebde;

  .window__header {
    position: absolute;
    left: 3px;
    top: -29px;
    width: calc(100% - 6px);
    height: 29px;

    &:before {
      content: '';
      position: absolute;
      left: -6px;
      width: 6px;
      height: 29px;
      border-top-left-radius: 6px;
    }

    &:after {
      content: '';
      position: absolute;
      right: -6px;
      width: 6px;
      height: 29px;
      border-top-right-radius: 6px;
    }
  }

  .window__icon {
    position: absolute;
    top: -22px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
  }

  &.solitaire > .window__icon {
    background-image: url('../../images/windows/icon-solitaire.png');
  }

  &.help > .window__icon {
    background-image: url('../../images/windows/icon-help.png');
  }

  .window__caption {
    position: absolute;
    top: -22px;
    left: 3px;
    font: bold 13px tahoma;
    letter-spacing: .4px;
  }

  .window__icon + .window__caption {
    left: 19px;
  }

  .window__button {
    position: absolute;
    top: -24px;
    width: 21px;
    height: 21px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #fff;
  }

  .window__button_minimize,
  .window__button_maximize,
  .window__button_restore,
  .window__button_help {
    background-color: #2175f7;
    background-image: url('../../images/windows/button-bg-blue.png');
  }

  .window__button_close {
    right: 3px;
    background-color: #e74108;
    background-image: url('../../images/windows/button-bg-red.png');

    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOSAxOSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTQsNS41TDUuNSw0TDkuNSw4TDEzLjUsNEwxNSw1LjVMMTEsOS41TDE1LDEzLjVMMTMuNSwxNUw5LjUsMTFMNS41LDE1TDQsMTMuNUw4LDkuNVoiLz48L3N2Zz4=');
      content: '';
    }
  }

  .window__button_minimize {
    right: 49px;

    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOSAxOSI+PHJlY3QgZmlsbD0iI2ZmZiIgeD0iNCIgeT0iMTIiIHdpZHRoPSI3IiBoZWlnaHQ9IjMiIC8+PC9zdmc+');
      content: '';
    }
  }

  .window__button_maximize {
    right: 26px;

    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOSAxOSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjZmZmIiBkPSJNNCw0SDE1VjE1SDRWNFpNNSw3SDE0VjE0SDVWNyIgLz48L3N2Zz4=');
      content: '';
    }
  }

  .window__button_restore:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOSAxOSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjZmZmIiBkPSJNNyw0TDE0LDRMMTQsMTFMMTIsMTFMMTIsMTBMMTMsMTBMMTMsNkw3LDYgNyw0Wk00LDdMMTEsN0wxMSwxNEw0LDE0TDQsN1pNNSw5TDEwLDlMMTAsMTNMNSwxM0w1LDlaIiAvPjwvc3ZnPg==');
    content: '';
  }

  .window__button_help {
    right: 26px;

    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOSAxOSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjZmZmIiBkPSJNOCwxM2gyVjEyYzAtMiw0LTIsNC01YTQsNCwwLDAsMC00LTRIOUE0LDQsMCwwLDAsNSw3SDdBMiwyLDAsMCwxLDksNWgxYTIsMiwwLDAsMSwyLDJjMCwyLTQsMi00LDV2MVptMiwzVjE0Yy0yLDAtMiwwLTIsMmgyWiIgLz48L3N2Zz4=');
      content: '';
    }
  }

  &.maximized {
    width: 100%;
    height: calc(100% - 26px);
    border: none;

    .window__button_restore {
      right: 26px;
    }

    .window__header {
      left: 0;
      width: 100%;

      &:before {
        left: 0;
      }
  
      &:after {
        right: 0;
      }
    }
  }

  &.minimized {
    .window__button_restore {
      right: 49px;
    }
  }

  &.active {
    border-image: url('../../images/windows/border-active.png') 3;

    & > .window__header {
      background-image: url('../../images/windows/header-active.png');

      &:before {
        background-color: #0031c7;
        background-image: url('../../images/windows/header-left-active.png');
      }

      &:after {
        background-color: #0031c7;
        background-image: url('../../images/windows/header-right-active.png');
      }
    }

    .window__caption {
      color: #fff;
      text-shadow: 1px 1px #0a1883;
    }

    .window__button_minimize,
    .window__button_maximize,
    .window__button_restore,
    .window__button_close,
    .window__button_help {
      background-position: 0 0;
    }
  }

  &.inactive {
    border-image: url('../../images/windows/border-inactive.png') 3 stretch stretch;

    & > .window__header {
      background-image: url('../../images/windows/header-inactive.png');

      &:before {
        background-color: #5e7dd8;
        background-image: url('../../images/windows/header-left-inactive.png');
      }

      &:after {
        background-color: #5e7dd8;
        background-image: url('../../images/windows/header-right-inactive.png');
      }
    }

    & > .window__caption {
      color: #d8e4f8;
      text-shadow: none;
    }

    .window__button_minimize,
    .window__button_maximize,
    .window__button_restore,
    .window__button_close,
    .window__button_help {
      background-position: -57px 0;
    }
  }

  &.active:not(.blocked):not(.restart),
  &.inactive:not(.blocked):not(.restart) {
    .window__button_minimize:hover,
    .window__button_maximize:hover,
    .window__button_restore:hover,
    .window__button_close:hover,
    .window__button_help:hover {
      background-position: -19px 0;
    }

    .window__button_minimize:active:hover,
    .window__button_maximize:active:hover,
    .window__button_restore:active:hover,
    .window__button_close:active:hover,
    .window__button_help:active:hover {
      background-position: -38px 0;

      &:after {
        opacity: .5;
      }
    }
  }

  &.alert {
    animation: border .2s linear infinite;
  
    & > .window__header {
      animation: header .2s linear infinite;
  
      &:before {
        animation: headerBefore .2s linear infinite;
      }
  
      &:after {
        animation: headerAfter .2s linear infinite;
      }
    }
    
    @keyframes header {
      0% { background-image: url('../../images/windows/header-active.png'); }
      49% { background-image: url('../../images/windows/header-active.png'); }
      50% { background-image: url('../../images/windows/header-inactive.png'); }
      100% { background-image: url('../../images/windows/header-inactive.png'); }
    }
    
    @keyframes headerBefore {
      0% { background-image: url('../../images/windows/header-left-active.png'); }
      49% { background-image: url('../../images/windows/header-left-active.png'); }
      50% { background-image: url('../../images/windows/header-left-inactive.png'); }
      100% { background-image: url('../../images/windows/header-left-inactive.png'); }
    }
    
    @keyframes headerAfter {
      0% { background-image: url('../../images/windows/header-right-active.png'); }
      49% { background-image: url('../../images/windows/header-right-active.png'); }
      50% { background-image: url('../../images/windows/header-right-inactive.png'); }
      100% { background-image: url('../../images/windows/header-right-inactive.png'); }
    }
  
    @keyframes border {
      0% { border-image-source: url('../../images/windows/border-active.png'); }
      49% { border-image-source: url('../../images/windows/border-active.png'); }
      50% { border-image-source: url('../../images/windows/border-inactive.png'); }
      100% { border-image-source: url('../../images/windows/border-inactive.png'); }
    }
  }
}

