.options-contents {
  position: relative;
  width: 100%;
  height: 100%;

  .button {
    width: 66px;
  }

  .button_ok {
    left: 184px;
    top: 157px;
  }

  .button_cancel {
    left: 258px;
    top: 157px;
  }
}