@font-face {
  font-family: fixedsys;
  src:
    url('./fonts/fixedsys.eot') format('embedded-opentype'),
    url('./fonts/fixedsys.otf') format('opentype'),
    url('./fonts/fixedsys.svg') format('svg'),
    url('./fonts/fixedsys.ttf') format('truetype'),
    url('./fonts/fixedsys.woff') format('woff'),
    url('./fonts/fixedsys.woff2') format('woff2');
 }

@font-face {
  font-family: tahoma;
  src:
    url('./fonts/tahoma.eot') format('embedded-opentype'),
    url('./fonts/tahoma.otf') format('opentype'),
    url('./fonts/tahoma.svg') format('svg'),
    url('./fonts/tahoma.ttf') format('truetype'),
    url('./fonts/tahoma.woff') format('woff'),
    url('./fonts/tahoma.woff2') format('woff2');
 }

body {
  margin: 0;
  -webkit-font-smoothing: none;
  font-smooth: never;
  user-select: none;
}

.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: fixed url('./images/wallpaper.png') center no-repeat;
  background-size: 100% 100%;
  cursor: url('./images/cursors/default.cur'), default;
}

.root.ew-resize {
  cursor: url('./images/cursors/ew-resize.cur'), ew-resize;
}

.root.nesw-resize {
  cursor: url('./images/cursors/nesw-resize.cur'), nesw-resize;
}

.root.ns-resize {
  cursor: url('./images/cursors/ns-resize.cur'), ns-resize;
}

.root.nwse-resize {
  cursor: url('./images/cursors/nwse-resize.cur'), nwse-resize;
}

.root.pointer {
  cursor: url('./images/cursors/pointer.cur'), pointer;
}

.root.wait {
  cursor: url('./images/cursors/wait.cur'), wait;
}
